## R files
*~
*.RData
*.dat
*.Rproj

*.fls

*.fdb_latexmk
  
*.sif

## temp mac files
.DS_Store

## emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
manuscript/auto/*
auto/*
  
# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# files from marcos' computer
.fuse_hidden*

# quarto files
reports/*_files/*
reports/*_cache/*